* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;

}

::-webkit-scrollbar {
    width: 10px;

}

::-webkit-scrollbar-track {
    background: #000000;

}

::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
    background: #cfcfcf;

}

header nav {
    background: black;
    display: flex;
    position: fixed;
    width: 100%;
    height: 3.5em;
    z-index: 9999;
    text-align: center;

}

nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;

}

button {
    padding: 0;
    margin: 0;

}

a {
    text-decoration: none;

}

nav img {
    height: 80%;
    margin-left: 20px;

}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    margin-right: 100px;

}

nav ul li:nth-child(1) {
    background-color: white;
    padding: 10px;
    padding-top: 5px;
    border-radius: 25px;
    height: 20px;
    font-size: 1em;
    font-weight: bold;

}

nav ul li:nth-child(1):hover {
    transform: scale(1.05, 1.05);
    transition: 0.2s;

}

nav ul li:nth-child(1) a {
    color: black;

}

nav ul li:nth-child(2) {
    margin-top: 5px;

}

nav ul li:nth-child(2) a {
    color: rgb(102, 102, 102);

}

nav ul li:nth-child(2):hover {
    transform: scale(1.05, 1.05);
    transition: 0.2s;

}

nav ul li:nth-child(2):hover a {
    color: rgb(204, 204, 204);

}

.barra-busqueda {
    display: flex;
    gap: 6px;

}

.barra-busqueda .home {
    width: 0px;

}

.barra-busqueda .home:hover {
    border: 1px solid rgb(206, 206, 206);
}

.barra-busqueda .home img {
    width: 100%;

}

.barra-busqueda .add {
    background-color: rgb(33, 33, 33);
    border: 0.5px solid rgb(94, 94, 94);
    border-radius: 25px;
    height: 33px;

}

.barra-busqueda .add:hover {
    border: 1px solid rgb(206, 206, 206);
}

.barra-busqueda .add img {
    height: 30px;


}

.barra-busqueda .barra {
    display: flex;
    align-items: center;
    background-color: rgb(33, 33, 33);
    border-radius: 25px;
    width: 300px;
    height: 30px;
    gap: 10px;
    border: 0.5px solid rgb(94, 94, 94);

}

.barra-busqueda .barra:focus-within {
    border: 2px white solid;

}

.barra-busqueda .barra img {
    height: 17px;
    margin-right: px;

}

.barra-busqueda .barra input {
    background-color: rgb(33, 33, 33);
    margin-right: 10px;
    border: none;
    outline: none;

}

.barra-busqueda .barra input {
    width: 80%;
    background-color: rgb(33, 33, 33);
    border: none;
    outline: none;

}

.parallax-container {
    background-image: url("img/bring_me_the_horizon.jpg");
    padding: 50px;

    min-height: 370px;

    background-attachment: fixed;
    background-position-y: -250px;
    background-repeat: no-repeat;
    background-size: cover;

}

.parallax-container h1 {
    position: absolute;
    bottom: 7em;
    font-size: 4em;
    margin-left: 0.4em;
    
}

.parallax-container p:nth-child(1) {
    position: absolute;
    bottom: 36em;
    font-size: 1em;
    margin-left: 3em;

}

.main-grupo {
    display: absolute;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgb(0, 0, 0) 80%,rgb(32, 56, 87) 100%);

}

.main-grupo p {
    margin: 20px;

}

.barra-opciones {
    display: flex;
    padding: 30px;
    width: 300px;
    justify-content: space-around;
    align-items: center;

}


.boton-play {
    display: flex;
    background-color: rgb(34, 223, 34);
    border-radius: 50%;
    width: 55px;
    height: 55px;
    align-items: center;
    justify-content: center;

}

.boton-play:hover {
    background-color: rgb(97, 221, 97);
    transform: scale(1.05, 1.05);
    transition: 0.3s ease-in-out;

}

.boton-play img {
    width: 30%;
    margin-left: 7px;

}

.barra-opciones .follow {
    height: 30px;
    border-radius: 25px;
    width: 80px;
    background: transparent;
    border: 0.5px solid rgb(94, 94, 94);
    padding-bottom: 3px;

}

.barra-opciones .follow:hover {
    transform: scale(1.02, 1.02);
    border: 2px white solid;
    transition: 0.3s ease-in-out;

}

.barra-opciones .more {
    display: flex;
    font-size: 1.3em;
    height: 45px;
    border-radius: 25px;
    background: transparent;
    border: none;
    padding-bottom: 3px;

}

.more {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
}

/* Intento malogrado de hacer visible / invisible el menú con los 3 puntitos */
.menu-invisible {
    display: none;
    flex-direction: column;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    background: #222;
    padding: 10px;
    border-radius: 5px;

}

.more:hover .menu-invisible {
    display: absolute;

}

/* - */

input[type="checkbox"] {
    appearance: none; 
    width: 16px;
    height: 16px;
    border: 2px solid white;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    
}


input[type="checkbox"]:checked {
    background-color: rgb(34, 223, 34);
    border-color: rgb(34, 223, 34);

}


input[type="checkbox"]::after {
    content: "✔";
    font-size: 12px;
    font-weight: bold;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

}


input[type="checkbox"]:checked::after {
    opacity: 1;

}

input[type="checkbox"]:hover {
    transform: scale(1.15, 1.15);
    transition: 0.2s ease-in-out;

}

h2 {
    margin-left: 10px;

}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    padding: 10px 15px;
    text-align: left;

}

td:nth-child(1) { /* Número */
    width: 5%;
    text-align: center;
}

td:nth-child(2) { /* Imagen */
    width: 10%;
}

td:nth-child(3) { /* Nombre de la canción */
    width: 35%;
}

td:nth-child(4) { /* Reproducciones */
    width: 20%;
    text-align: right;
}

td:nth-child(5) { /* Checkbox */
    width: 5%;
    text-align: center;
}

td:nth-child(6) { /* Duración */
    width: 10%;
    text-align: right;
}

.tabla-imagen img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
}

tbody tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Línea separadora entre filas */
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.opciones-discografia {
    display: flex;
    width: 470px;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 10px;

}

.opciones-discografia li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    border-radius: 10px;
    height: 30px;

}

.opciones-discografia li a {
    font-size: 0.9em;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

}

.opciones-discografia li:hover {
    background-color: white;
    transform: scale(1.05, 1.05);
    transition: 0.3s ease-in-out;


}

.opciones-discografia li:hover a {
    color: #000000;
    transition: 0.3s ease-in-out;


}

.lista-discografia {
    display: flex;
    gap: 20px;
    width: 100%;

}

.lista-discografia .discografia-tab {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    height: 280px;
    width: 20%;
    border-radius: 6px;

}

.lista-discografia .discografia-tab p {
    margin: 0;
    padding: 0;

}

.lista-discografia .discografia-tab:hover {
    background-color: #494949;
    transition: 0.1s ease-in;

}

.lista-discografia .discografia-tab img {
    width: 90%;
    margin-bottom: 20px;
    margin-top: 10px;

}

.lista-discografia .discografia-tab .boton-play {
    opacity: 0;
    transition: opacity 0.2s ease-in, transform 0.2s ease-in;
    position: absolute;
    width: 70px;
    height: 70px;
    left: 6%;
}

.lista-discografia .discografia-tab:hover .boton-play {
    opacity: 1;
    transform: scale(1);
}

.lista-discografia .discografia-tab .boton-play img {
    width: 50%;
    padding-top: 10px;

}

footer {
    background-color: black;

}

.footer-grupo {
    display: flex;
    width: 40%;
    height: 40%;

}

.footer-grupo img {
    width: 100%;
    border-radius: 10px;
    margin-left: 10px;

}

.footer-info {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    width: 50%;

}

.footer-info ul li {
    list-style: none;
    margin-left: 5px;
    margin: 10px;

}

.footer-info ul li:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;

}

.footer-info ul li a {
    text-decoration: none;
    color: #7e7e7e;

}

.footer-info ul li a:hover {
    color: #c7c5c5;
    transition: 0.2s ease-in-out;

}

.footer-iconos img {
    width: 50px;

}

.footer-iconos img:hover {
    transform: scale(1.10, 1.10);
    transition: 0.4s ease-in-out;

}